# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
**venv/**
**/venv/
.env
.venv
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Local configuration
.jupyter/
jupyter_notebook_config.py


# -- Philipp's working files --
doc_chunks/
df_query_dev_top50.pkl
df_query_train_top50.pkl
df_query_train_reranked_scibert.pkl
df_query_dev_reranked_scibert.pkl
colbert_scibert_finetune-1
doc_chunks-finetune-1
doc_embeddings_colB_sciB_2
doc_embeddings_colB_sciB_3
colB_sciB_2
colB_sciB_3
doc_embeddings_scibert_baseline/
